
page-home {
  .tabbar{
    display:block !important;
  }
  .title {
    color: color($colors, primary);
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
  }

  .middle-section {
    margin-top: 0%;
    margin-bottom: 10%;
  }

  .section {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      margin: 0 0 2px;
      font-size: 1.4rem;
      color: #666;
      vertical-align: middle;
      line-height: 25px;
    }

    span:last-child {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .bottom-buttons{
    background-color: white;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
  }

  .list-cards {
    display: flex;
    justify-content: space-between;

    ion-card{
      height:75%;
    }

    .list-content {
      text-align: center;

      div {
        font-size: 10px !important;
      }
    }
  }

  .list-cards > div{
    width: 50%;
  }

  .logo {
    content: url('../assets/images/logohome.png');
    width: 60%;
    height: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
  }
}
